/* .modal-overlay-M {
    position: fixed;
    padding-top: 7rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .modal-overlay-M {
    position: fixed;
    /* margin-top: 15rem; */
    /* padding-top: 7rem; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
 
    justify-content: center;
    align-items: center;
  }

  .modal-content-M {
    background-color: white;
    max-width: 55%; /* Cambiamos el width a un valor porcentual */
    width: 60%;
    /* margin-top: 5rem; */
    height: fit-content;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9;
  }

  /* .modal-content-M {
    background-color: white;
    max-width:900px;
    width: 80%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9;

  } */
  
  .modal-close-button-M {
    text-align: right;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
  }

  .modal-img-M {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 500px;
  }

  .modal-img-previsual {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 50vh;
  }