.segmento-producto {
  padding-top: 10rem;
  max-width: 1210px;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-bottom: 1rem;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
  }
  
  
  /* ------------------------------------ */
  .encabezado-descripcion {
  width: 100%;
  max-width: 1210px;
  padding-top: 0.5rem;
  
  
  margin: auto;
  /* position: fixed; */
  background-color: white;
  /* border:1px solid red; */
  }
  
  
  .contenido-encabezado {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  max-width: 1210px;
  width: 100%;
  
  
  background-color: white;
  }
  
  
  .encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1210px;
  align-items: center;
  height: auto;
  gap: 1rem;
  background-color: white;
  }
  
  
  h1 {
  line-height: 30px;
  margin-bottom: 1rem;
  max-width: 1210px;
  }
  
  
  h3.descripcion {
  line-height: 25px;
  margin: 0;
  font-weight: 300;
  max-width: 1210px;
  }
  
  
  .nombre-producto {
  width: 100%;
  }
  
  
  .flecha {
  font-size: 2rem;
  font-weight: 700;
  align-items: right;
  }
  .titulo-caracteristicas-descripcion-producto {
  border: 1px solid red;
  }
  /* .titulo-caracteristicas { */
  /* border: 1px solid violet; */
  /* } */
  
  
  .descripcion {
  display: flex;
  flex-direction: row;
  justify-content: left;
  max-width: 1210px;
  width: 100%;
  align-items: center;
  height: auto;
  margin-bottom: auto;
  padding-bottom: 1rem;
  background-color: white;
  border: 1px solid green;
  
  
  }
  .contenedor-detalle-producto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  /* gap: 3rem; */
  border-top: 1px solid #cefb07;
  margin-bottom: 2rem;
  }
  
  
  
  
  
  
  .descripcion-producto {
  width: 100%;
  /* margin-left: 1rem; */
  border: 1px solid rgb(232, 11, 11);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }
  
  
  .descripcion-bullets {
  width: 45%;
  border: 1px solid rgb(229, 8, 170);
  
  
  }
  
  
  .segmento-icon-detalle {
  width: 45%;
  border: 1px solid blue;
  justify-content: space-around;
  align-items: left;
  display: flex;
  flex-direction: column;
  }
  /* ------------------------------------ */
  
  
  .galeria-detalleservicios-compra {
  
  
  max-width: 1210px;
  }
  
  
  .grid-container-galeria {
  margin-bottom: 1rem;
  width: 100%;
  
  
  max-width: 1210px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  
  
  justify-content: center;
  align-items: center;
  /* border:1px solid red; */
  }
  
  
  .grid-container-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 15px 16px 11px -12px rgba(121, 121, 121, 0.46);
  -webkit-box-shadow: 15px 16px 11px -12px rgba(121, 121, 121, 0.46);
  -moz-box-shadow: 15px 16px 11px -12px rgba(121, 121, 121, 0.46);
  }
  
  
  .item-grid-fotos1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  border-radius: 8px, 8px, 0px, 0px;
  }
  
  
  .item-grid-fotos2 {
  grid-column: 3;
  grid-row: 1;
  }
  
  
  .item-grid-fotos3 {
  grid-column: 4;
  grid-row: 1;
  }
  
  
  .item-grid-fotos4 {
  grid-column: 3;
  grid-row: 2;
  }
  
  
  .item-grid-fotos5 {
  grid-column: 4;
  grid-row: 2;
  }
  
  
  .ver-mas{
  width: auto;
  text-align: right;
  }
  
  
  
  
  .items-icon-detalle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  }
  
  
  @media (max-width: 700px) {
  .segmento-producto {
  padding-left: 0rem;
  padding-right: 0rem;
  }
  .grid-container-galeria {
  grid-template-columns: 1fr 1fr; /* Cambia a una sola columna */
  grid-row: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  }
  
  
  .item-grid-fotos1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  border-radius: 8px, 8px, 0px, 0px;
  }
  .item-grid-fotos2 {
  grid-column: 1;
  grid-row: 3;
  }
  .item-grid-fotos3 {
  grid-column: 2;
  grid-row: 3;
  }
  .item-grid-fotos4 {
  grid-column: 1;
  grid-row: 4;
  }
  .item-grid-fotos5 {
  grid-column: 2;
  grid-row: 4;
  }
  }
  
  
  @media (max-width: 700px) {
  
  
  h1 {
  font-size: 24px;
  }
  h3 {
  font-size: 12px;
  }
  
  
  .contenedor-detalle-producto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-top: 0px solid #dddddd;
  }
  
  
  .descripcion-producto {
  width: 90%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  
  
  }
  
  
  .ver-mas{
  width: auto;
  text-align: center;
  }
  
  
  .segmento-icon-detalle {
  width: 90%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  }
  .descripcion-producto{
  font-size: 14px;
  }
  
  
  }
  