
.pagina-formulario-Ingreso {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: auto;
  padding-top: 16rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}

/* .form {
  padding: 30px 40px;
  margin-top: 13rem;
} */

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: var(--fsizeCat);
  padding: 10px;
  width: 350px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.error-form {
  font-size: 16px;
  color: #2ecc71;
}

.circulo-check {
  color: #2ecc71;
  visibility: visible;
}

.circulo-error {
  color: red;
  visibility: visible;
}

.mensaje-error { 
  color: #e74c3c;
position: absolute;
bottom: 0;
left: 0;
visibility: hidden;
}

.mensaje-error {
  visibility: visible;
}

.form button {
  background-color: #f0f0f0;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  color: #f0f0f0;
  display: block;
  font-size: var(--fsizeCat);
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;


}




/* //////////////////////////////////////////////////// */


.titulo-form-inicio-sesion {
  font-size: 30px;
  color: rgb(3, 141, 165);
}

.formulario-inicio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pack-campo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.campo-anotacion {
  margin: 1rem 0rem;
  display: flex;
  flex-direction: row;
}

.anotacion {
  color: #717171;
}

.campo-formulario {
  border-radius: 10px 10px 10px 10px;
  width: 340px;
  height: 30px;
  background-color: white;
}

.acceso-cuenta-o-usuarionuevo {
  color: rgb(3, 141, 165);
  font-weight: 700;
  width: 340px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* -------------------------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Roboto:100");

.boton {
  background-color: white;
  border: 1px solid var(--colorGrey4);
  box-shadow: var(--BShadow);

  border-radius: var(--bRadiusButton);
  color: #676867;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  max-height: 1.5rem;
  max-width: 150px;
  overflow: hidden;
  line-height: 2rem;
  padding: 1rem 1.5rem;
  position: relative;
  transition: 0.3s transform ease;
  will-change: transform;
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.boton::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: none;
  transform: translate(-100%, 0) rotate(1deg);
  transform-origin: top;
  transition: 0.15s transform ease;
  will-change: transform;
  z-index: -1;
}

.boton:hover::after {
  transform: translate(0, 0);
}

.boton:hover {
  border: 1px solid var(--BGrey);

  transform: scale(1.05);
  box-shadow: var(--BShadowD);
}
