.screen {
 padding-top: -2rem; 
  max-width: 100%;
  height: 500px;

  /* width:max-content; */

}

screen > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .contenedor-grid-fotos {
    display: grid;

    grid-template-columns: repeat(4, 200px); 
    grid-gap: 10px;
} */

.contenedor-grid-fotos {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); Usamos auto-fill y minmax para que las columnas se ajusten automáticamente */
    grid-template-columns: repeat(3, 35%);
    grid-template-rows: repeat(5, minmax(100px, auto));
    /* grid-gap: 10px; */
    /* align-items: center;
    justify-content: center; */
    padding: 0;
    position: relative;
  }

  @media (max-width: 900px) {
    .contenedor-grid-fotos {
      grid-template-columns: repeat(1, 90%); /* Una columna con ancho del 90% de la página */
    }
  }
  @media (max-width: 300px) {
    .contenedor-grid-fotos {
      grid-template-columns: 100%; /* Una columna con ancho del 100% de la página */
      grid-auto-rows: minmax(20%, 1fr); /* Altura mínima del 20% de la página, máximo de 1fr (equivalente a 1/5 de la página) */
    }
  }


.item-grid {
    width: 300px;
    height: 200px;

}

.titulo-producto-screen {
    font-size: var(--fsizeSecc);
    color: var(--colorGrey2);
    font-weight: var(--fweightM);
}

.cerrar {
    font-size: var(--fsizeSecc);
    color: var(--colorGrey2);
    font-weight: var(--fweightM);
}

.encabezado-preview-galeria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}