.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 50px;
 
  padding: 0 2rem;
  background-color: #2E4F4F;
  color: white;
  margin-top: auto;
  position: relative;
  bottom: 0px;
  
}
