.card-body-reco {
  /* display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 95%;
  height: 95%;
  width: 600px;
  height: 180px;
  border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  margin-left: 1rem; */
   /* border: 1px solid red; */
}


.texto-card-reco {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  /* height: 170px;
  width: 250px; */
  flex-wrap: nowrap;
  
  /* border: 1px solid rgb(255, 0, 247); */
  
  /* ----------- Borrar despues de poner dinamicas las categorias */
  white-space: nowrap; /* Evita el salto de línea */
  /* overflow: hidden;*/ /* Oculta el contenido que excede el ancho */
  /* text-overflow: ellipsis; */ /* Muestra puntos suspensivos (...) cuando el contenido excede el ancho */
  /* Ajusta este valor según el ancho deseado */
}

.nombre-card-producto {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: var(--color);
  line-height: 30px;
  overflow: visible;
  width: 50%;
  /* width: 250px; */
  white-space: normal;
  word-wrap: break-word;
  /* border: 1px solid rgb(38, 236, 12); */
}

.tipo-recurso-card {
  line-height: 20px;
  /* border: 1px solid rgb(85, 255, 0); */

}

.descripcion-card {
  line-height: 15px;
  overflow: visible;
 /* width: 250px; */
  white-space: normal;
  word-wrap: break-word;
  /* height: 70px; */
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: wrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el contenido que excede el ancho */
   text-overflow: ellipsis; 
  /* border: 1px solid rgb(236, 12, 90); */
}


.container-reco {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  width: 400px;
  height: 330px;
  border-radius: var(--bRadiusButton);
  box-shadow: var(--BShadowD4);
  transition: color 0.2s, transform 0.2s;
  margin-bottom: 1rem;
}

.container-reco:hover {
  border: 1px solid var(--BGrey);
  transform: scale(1.009);
  box-shadow: var(--BShadowD);
}
.thumbnail-reco {
  flex: 1 1 250px;
  /* background-color: blue ; */
  height: 250px;

}

.content-reco {
  flex: 2 2 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ImgCardReco {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  /* width: 340px; */
  height: 250px;
  border-radius: 10px 10px 10px 10px;
  margin-right: 0px;
  margin-bottom: 0rem;
  object-fit: cover;
  /* border: 1px solid red; */
}



.precio {
  font-size: 25px;
  font-weight: 900;
  color: #5e5e5e;
  margin: 0;
  padding: 0; 
  /* border: 1px solid rgb(32, 143, 239); */
} 

/* 

/* Media query */
@media (max-width: 440px) {
 
.container {
  width: 90%;
}

.container:hover {
  border: 1px solid var(--BGrey);
  transform: scale(1.009);
  box-shadow: var(--BShadowD);
}
.thumbnail {
  flex: 1 1 250px;
  /* background-color: blue ; */
  height: 250px;

}

.content {
  flex: 2 2 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


} 

/* Media query */
/* @media (max-width: 770px) {
  .card-body-reco {
    margin-left: 0rem;
    gap: 1rem;
  }
  .ImgCardReco {
    width: 100%;

  }

  .nombre-card-producto {
    width: 90%;
    font-size: 20px;
    line-height: 20px;
  }
} */

/* Media query */
/* @media (max-width: 450px) {
  .card-body-reco {
    width: 100%;
    height: 100%;
    margin-left: 0rem;
    height: 250px;
    gap: 0.5rem;
  }
  .ImgCardReco {
    width: 100%;
    border-radius:  0px 11px 11px 0px;
  }

  .nombre-card-producto {
    font-size: 18px;
  }
}  */

/* Media query */
/* @media (max-width: 345px) {
  .card-body-reco {
    width: 100%;
    height: 250px;
  }
  .ImgCardReco {
    width: 100%;
    height: 230px;
  }
} */ */
