.segmento-recomendaciones-productos {
    background:  #FFE55F;
    width: 100%;
    height: 240px;
    margin-top: 160px;
     /* padding-top: 20rem;  */
     overflow: hidden;
}

.listado-productos-reco {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red;  */
    height: 250px;
    
  }

 