/* Estilos para pantallas grandes */
.grid-container-listado {
  margin: 0 auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 45%); /* Dos columnas con ancho del 45% de la página */
  /* grid-auto-rows: minmax(100px, auto);  */
  grid-template-rows: repeat(5, minmax(100px, auto)); /* Máximo de 5 filas con altura mínima de 100px, se ajusta según el contenido */
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* Estilos para pantallas medianas */
@media (max-width: 900px) {
  .grid-container-listado {
    grid-template-columns: repeat(1, 90%); /* Una columna con ancho del 90% de la página */
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 300px) {
  .grid-container-listado {
    grid-template-columns: 100%; /* Una columna con ancho del 100% de la página */
    grid-auto-rows: minmax(20%, 1fr); /* Altura mínima del 20% de la página, máximo de 1fr (equivalente a 1/5 de la página) */
  }
}



.segmento-listado-productos {
  width: 100%;
  margin: 0;
  z-index: 0;
}

.txt-titulo-listado-productos {
  font-size: 20px;
  color: #717171;
}

.item-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 1rem;
}

.ImgCard-producto {
  max-width: 100%;
  max-height: 100%;
  width: 700px;
  height: 400px;
  border-radius: 10px 10px 10px 10px;
  margin-right: 0px;
  object-fit: cover; 
}
