@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,600;8..144,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap");

/* Sombras 
box shadow: offset-x | offset-y | blur-radius | spread-radius | color  | inset

text-shadow:  offset-x | offset-y | blur-radius | color
  text-shadow: 4px 4px 5px #0005;

texto - shadow multiples:  
  text-shadow:
    -1px -1px 3px #999,
    0 0 1px darkred,
    1px 1px 1px red,
    2px 2px 1px #555,
    3px 3px 1px #222,
    4px 4px 1px #000;
*/


#root {
  --color: #111;
  --colorGrey1: #424242;
  --colorGrey2: #979797;
  --colorGrey3: #b6b5b5;
  --colorGrey4: #dfdfdf;
  --BGrey:#DDDDDD;
  --red: #ff385c;
  --blue: rgb(3, 141, 165);
  --green: #9DD6B3;
  --fweightXL: 900;
  --fweightM: 600;
  --fweight5: 500;
  --fweightL: 300;
  --hoverSinBShadow: 0 0px 0px;
  --BShadow:3px 3px 3px var(--BGrey);
  --BShadow1:1px 1px 1px var(--BGrey);
  --BShadowD1:3px 3px 3px var(--colorGrey1);
  --BShadowD2:3px 3px 3px var(--colorGrey2);
  --BShadowD:3px 3px 3px var(--colorGrey3);
  --BShadowD4:3px 3px 3px var(--colorGrey4);
  --bRadiusButton:15px;
  --bRadImg: 20px;
  --fsizeTSXL:70px;
  --fsizeTSL:60px;
  --fsizeTXL:50px;
  --fsizeTL:40px;
  --fsizeTT:30px;
  --fsizeT:26px;
  --fsizeSecc:20px;
  --fsixeCatBig:17px;
  --fsizeCat:15px;
  --fsizeP:13px;
  --fsizeS:10px
  /* margin: 0;
  padding: 0; */
}

* {
  box-sizing: border-box;
  line-break: strict;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%; 
  /* display: block; */
 
}

header,
main,
footer {
  width: 100%;
}

/*   //////////////   Seteo de estilos genericos   //////////////    */

.wrapper {
  width: 95%;
  margin: 0;
}

a {
  color: black;
  list-style-type: none;
  text-decoration: none;
}

.caja-blanca-sombreada {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}

/* .fondo-icono {
  padding: 0.4rem 0.5rem;
  text-align: center;
} */

/* .fondo-icono:hover {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
} */

/* .error-comp {
  text-align: center;
  color: red;
  font-weight: 700;
  margin-top: 2rem;
} */

.msj-form-guardado{
  text-align: center;
  color: var(--color);
  font-weight: 700;
  margin-top: 2rem;
}