.card-body-producto-simulado {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    /* border: 1px solid red; */
    /* border: 1px solid var(--colorGrey4); */
    box-shadow: var(--BShadow);
    border-radius: var(--bRadiusButton);
    transition: color 0.2s, transform 0.2s;
  }
  /* img {
    width: 700px;
    height: 300px;
  } */
  
  .textos-card-simulado {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    height: 86px;
    gap: 0.4rem;
    width: 100%;
  }
  
  .titulo-descripcion-tipo-servicios {
    height: 80px;
    width: 85%;
    flex-direction: column;
    justify-content: space-around;
    display: fle;
    align-items: center;
  }
  
  
  .servicios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .ImgCard-producto {
    width: 100%;
    height: 400px;
    border-radius: 10px 10px 10px 10px;
    margin-right: 0px;
    object-fit: cover; 
    /* border: 1px solid red; */
    /* border: 1px solid red; */
  }
  
  .tipo-recurso-card {
    font-size: var(--fsizeS);
  }
  
  .texto-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 82px;
    width: 100%;
    max-width: 100%;
    border-radius: 0px 10px 10px 0px;
    /* ----------- Borrar despues de poner dinamicas las categorias */
    /* white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;  */
    /* max-width: 280px; */
    border: 1px solid rgb(68, 0, 255);
  }
  
  .descripcion-tipo-precio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .descripcion-tipo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
    /* border: 1px solid rgb(255, 0, 204); */
    gap: 0.5rem;
  }
  
  .p-sinmargin {
    margin: 0;
    /* line-height: 16px; */
  }
  
  .titulo-card-producto-simulado {
    margin: 0;
    padding: 0;
    font-size: var(--fsizeT);
    color: var(--colorGrey1);
    font-weight: var(--fweightM);
    line-height: 20px;
    width: 100%;
    /* border: 1px solid rgb(255, 0, 204); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .descripcion-card-home {
    max-height: 30px;
    line-height: 20px;
    font-size: var(--fsizep);
    width: 90%;
    line-height: 14px;
    color: var(--colorGrey1);
    margin-top: 4px;
    /* ----------- Borrar despues de poner dinamicas las categorias */
     white-space: wrap;  
    overflow: hidden;/* Oculta el contenido que excede el ancho */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el contenido excede el ancho */
    /* Ajusta este valor según el ancho deseado */
    /* border: 1px solid rgb(9, 255, 0); */
  }
  
  .precio-card-home {
    font-size: var(--fsizeT);
    font-weight: var(--fweightXL);
    color: var(--colorGrey1);
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(0, 255, 166); */
  }
  
  .card-body-producto:hover {
    border: 1px solid var(--BGrey);
  
    transform: scale(1.006);
  
    box-shadow: var(--BShadowD);
  }
  
  /* Estilos para pantallas pequeñas */
  @media (max-width: 600px) {
    .card-body-producto {
      
      width: 90%;
      margin-left: 0;
      
    }
  }
  