.card-categoria {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
   gap: 0.1rem;
  width: 100px;
  height: 45px;
  border-radius: 11px 11px 11px 11px;
  -webkit-border-radius: 11px 11px 11px 11px;
  -moz-border-radius: 11px 11px 11px 11px;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
  color:var(--colorGrey2);
  /* overflow: hidden;
  white-space: nowrap; */
}

.card-categoria:hover {
  color: black; 
  transform: scale(1.05); 
}

.ImgCardCategoria {
  height: 60px;
  width: 150px;
} 

.texto-card-categoria {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 16px;
  color: inherit;

  /* ----------- Borrar despues de poner dinamicas las categorias */
  white-space: nowrap; /* Evita el salto de línea */
  overflow: hidden; /* Oculta el contenido que excede el ancho */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el contenido excede el ancho */
  max-width: 180px; /* Ajusta este valor según el ancho deseado */
}

.texto-card-categoria:hover {
  color: inherit; 

}

.icono:hover {
  color: inherit; 

}



@media (max-width: 1260px) {
  .card-categoria {
    flex-direction: column;
    height: 80%;
    justify-content: center;
    
  }
  .icono{
    font-size: 2rem;
  }
  .texto-card-categoria {
  text-align: center;
  }

}

@media (max-width: 650px) {
  /* .ImgCardCategoria {
    display: none;
  } */
}

